section.about#about
  .wrapper
    div.about__general
      p.about__title 
        span Sherlock 
        span  - "Не компания" по подбору и диагностике авто. 
      p Все заказы выполняю сам. В автомобильной сфере больше 10 лет.<br>Подбор авто является моей профессией более 4-х лет.
      p Имею профильное высшее техническое образование.<br> Соответственно вы гарантированно получите
        strong.mark  услугу профессионала.
      p Огромный опыт владения и обслуживания разных и сложных автомобилей. <br>Один из немногих, кто имеет оборудование и навыки для проверки на 
        span.mark криминальную составляющую,
        span  как документов, так и идентификационных номеров и табличек.
      p После выполнения заказа вы можете получать 
        span.mark онлайн консультации 
        span  в группе Whats Up 
        span.mark по любым вопросам, касающихся авто.
      img(src="img/aboutmain.jpg", alt="").about__img 
    div.about__content
      div.about__content-intro
        p В наше время автомобиль стал доступным очень многим, он есть почти в каждой семье. Также в ряды водителей ежедневно вступают тысячи ребят, которым только предстоит покупка их первой машины!
        p Но сейчас мы переживаем непростую экономическую ситуацию в стране, в связи с этим хочу отметить 
          span.mark три момента:
        ul
          li - люди все больше склоняются к покупке б/у авто;
          li - как следствие, почти в три раза возросли случаи угона машин, подделки документов и подобного криминала;
          li - увеличилось количество "перекупов".
        p.mark  Исходя из своей обширной практики в автомобильной сфере, я пришел к неутешительным цифрам на сегодняшний день:
      div.about__content-list
        article.about__content-item.wow.fadeInDown
          h3 80% всех б/у автомобилей, продаются либо частниками-перекупами, либо "серыми" автосалонами
          div.about__content-item-desc
            p Основная цель любого перекупа - прибыль! Дешево купить, а дешево как правило продается хлам, затем с минимальными затратами придать товарный вид используя некачественные запчасти и разного рода уловки и конечно быстро продать! Думаю не нужно объяснять, что для них все средства хороши, а основное - обман! 
            p Поэтому такие вещи как: скрученный пробег, плохой кузовной ремонт и т.д. для них норма!
            p И запомните - салоны это те же перекупы!!!
        article.about__content-item.wow.fadeInDown(data-wow-delay="0.2s")
          h3 Около 2/3 машин имеют серьезные технические проблемы
          div.about__content-item-desc
            p Мало кто продает полностью обслуженный и исправный автомобиль.          Очень часто решение о продаже возникает после того, как люди узнают о предстоящем дорогостоящем ремонте или каких-либо юридических проблемах, связанных с их машиной.
        article.about__content-item.wow.fadeInDown(data-wow-delay="0.4s")
          h3 4 из 5 автомобилей попадали в ДТП
          div.about__content-item-desc
            p Очень важно узнать были ли случаи ДТП и самое главное их серьезность! <br>Безопасность - это главное в авто! И запомните, кузов спасает только один раз, пока он имеет заводские параметры и конструктив! 
        article.about__content-item.wow.fadeInDown(data-wow-delay="0.6s")
          h3 Каждая третья машина имеет какие-либо ограничения на регистрационные действия
          div.about__content-item-desc
            p После того как упростили порядок покупки, часто люди приобретают машину, не проверяя ее по различным  
              span.mark общедоступным базам.
              span  А ведь на автомобиле может висеть куча штрафов, она может быть объектом залога или предыдущий владелец набрал кредитов, а рассчитаться не смог, и судебные приставы наложили арест на его имущество и т.д. и т.п.
        article.about__content-item.wow.fadeInDown(data-wow-delay="0.8s")
          h3 Не редки случаи (примерно 10%!) либо перебитых VIN номеров, либо несоответствующих номеров двигателя, либо фальшивых документов!
          div.about__content-item-desc
            p 99% покупателей не имеют навыков эксперта, а преступники тем временем используют все более и более качественные подделки и уловки.
      div.about__content-final.wow.zoomIn(data-wow-delay="0.5s")
        p Так вот, решив при выборе автомобиля положиться только на свои знания или попросить знакомого, который работает в "сервисе", вы рискуете купить кирпич!
        p Именно поэтому, считаю необходимо обращаться к
          span.mark  эксперту! 
        p А если уж решили обратиться, то будьте бдительны при выборе такого эксперта. <br> Сейчас развелось очень много молодых "мальчиков с прибором", которые насмотрелись Ютуба, купили китайский толщиномер и стали называться автоподборщиками... 
        span.mark Не ведитесь на копеечные услуги!
        p Надеюсь, я смог донести до вас свою главную мысль - каждый должен заниматься своим делом, проверять автомобиль перед покупкой должен человек, обладающий полным комплексом          
          span.mark знаний, умений и оборудования!
        p.mark Друзья, не дайте себя обмануть, обращайтесь!
        a(href="#contacts") обратиться за помощью
        
