section.about#about
  .wrapper
    div.about__content
      p.about__title 
        span Sherlock 
        span  - "Не компания" по подбору и диагностике авто. 
      p Работаю сам, один. В атомобильной сфере больше 10 лет.
      p Имею профильное высшее 
        span.mark техническое образование.<br> Соответственно вы гарантированно получите услугу профессионала.
      p Огромный опыт владения и обслуживания разных и сложных автомобилей. <br>Один из немногих, кто имеет оборудование и навыки для проверки на 
        span.mark криминальную составляющую,
        span  как документов, так и идентификационных номеров и табличек.
      p После выполнения заказа вы можете получать 
        span.mark онлайн консультации 
        span в группе Whats Up 
        span.mark по любым вопросам, касающихся авто.
