footer.footer
  .wrapper
  .footer__bottom
    .wrapper
      ul.footer__bottom-social
        li
          a(href="https://vk.com/club109147544", target="_blank")
            i(class="fa fa-vk", aria-hidden="true")
        li
          a(href="#", target="_blank")
            i(class="fa fa-instagram", aria-hidden="true")
      ul.footer__bottom-contacts
        li
          a(href="tel:+79119293955") 
            i(class="fa fa-mobile", aria-hidden="true")
            span +7(911)929-39-55
        li
          a(href="mailto:#") 
            i(class="fa fa-envelope", aria-hidden="true")
            span 232332@232.ru
    
