header.header
  div.header__nav
    ul.header__nav-left
      li
        a(href="#service") Услуги
      li
        a(href="#portfolio") Портфолио
    ul.header__nav-right
      li
        a(href="#testimonials") Отзывы
      li
        a(href="#contacts") Контакты
  ul.header__intro
    li Проверка на криминал
    li Кузов
    li Компьютерная<br>диагностика
    li Техническое<br>состояние
    li Пробег
  a.header__logo
    img(src="img/logo.png", alt="logo")
    h1 Подбор и проверка автомобилей
  div.header__contacts
    a(href="tel:+79119293955")
      span +7 (911)
      span 929-39-55
    b ежедневно<br>11
      sup 00 
    b - 24
      sup 00
