doctype html
html
  head
    title Sherlock SPB - подбор и проверка автомобилей в Санкт-Петербурге
    meta(charset="utf-8")
    meta(name="keywords", content="подбор, авто, автомобиль, проверка, специалист, помощь, Санкт-Петербург, Питер, СПБ, диагностика")
    meta(name="description", content="Подбор и диагностика автомобилей в Санкт-Петербурге")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    link(href="img/shk_favicon.png", rel="shortcut icon")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700&amp;subset=cyrillic", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic", rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/style.min.css")
    script(src="js/jquery-2.1.1.min.js")
  body
    include header.jade
    include about.jade
    include service.jade
    include portfolio.jade
    include testimonials.jade
    include contacts.jade
    include footer.jade
    .scrolltop
      i(class="fa fa-arrow-circle-up",aria-hidden="true")
    script(src="js/owl.carousel.min.js")
    script(src="js/jquery.validate.pack.js")
    script(src="js/map.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAwP0YTnTh423qsKsB-2mQEbLL7PJxePYI&center=-33.9,151.14999999999998&zoom=12&format=png&maptype=roadmap&callback=initMap&signed_in=true&sensor=false", async, defer)
    script(src="js/common.js")


    
      
