section.portfolio#portfolio
  h2.portfolio__title портфолио
  ul.portfolio__list
    li.portfolio__item
      img(src="img/audis8.jpg", alt="audi_s8")
      .portfolio__item-description
        h3 AUDI S8, 2001г.<br>
        span 4.2 АТ <br>
        span 360 лс<br>        
    li.portfolio__item
      img(src="img/tahoe.jpg", alt="chevrolet_tahoe")
      .portfolio__item-description
        h3 CHEVROLET Tahoe, 2006г.<br>
        span 5.3 АТ <br>
        span 300 лс<br>
    li.portfolio__item
      img(src="img/mazda3.jpg", alt="mazda_3")
      .portfolio__item-description
        h3 MAZDA 3 MPS 4WD, 2007г.<br>
        span 2.3T MT<br>
        span 260 лс<br>
    li.portfolio__item
      img(src="img/pajero.jpg", alt="mitsubishi_pagjro")
      .portfolio__item-description
        h3 MITSUBISHI Pajero IO, 1998г.<br>
        span 1.8 AT GDI<br>
        span 130 лс<br>
    li.portfolio__item
      img(src="img/audiallroad.jpg", alt="audi__allroad")
      .portfolio__item-description
        h3 AUDI Allroad quattro, 2001г.<br>
        span 2.7TT AT<br>
        span 254 лс<br>
    li.portfolio__item
      img(src="img/auditt.jpg", alt="audi_tt")
      .portfolio__item-description
        h3 AUDI TT quattro, 2004г.<br>
        span 1.8T MT<br>
        span 225 лс<br>
    li.portfolio__item
      img(src="img/note.jpg", alt="nissan_note")
      .portfolio__item-description
        h3 NISSAN Note, 2010г.<br>
        span 1.6 МТ<br>
        span 110 лс<br>
    li.portfolio__item
      img(src="img/fwjetta.jpg", alt="wolkswagen_jetta")
      .portfolio__item-description
        h3 VOLKSWAGEN Jetta, 2009г.<br>
        span 1.6 МТ<br>
        span 101 лс<br>
