section.portfolio#portfolio
  h2.portfolio__title портфолио
  ul.portfolio__list
    li.portfolio__item
      img(src="img/audis8.jpg", alt="audi_s8")
      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>        
    li.portfolio__item
      img(src="img/tahoe.jpg", alt="chevrolet_tahoe")
      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>
    li.portfolio__item
      img(src="img/mazda3.jpg", alt="mazda_3")
      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>
    li.portfolio__item
      img(src="img/pajero.jpg", alt="mitsubishi_pagjro")
      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>
    li.portfolio__item
      img(src="img/audiallroad.jpg", alt="audi__allroad")
      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>
    li.portfolio__item
      img(src="img/auditt.jpg", alt="audi_tt")
      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>
    li.portfolio__item
      img(src="img/note.jpg", alt="nissan_note")
      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>
    li.portfolio__item
      img(src="img/fwjetta.jpg", alt="wolkswagen_jetta")

      .portfolio__item-description
        span AUDI S8 2008<br>
        span 320 л.с. W12 biturbo quattro compressor<br>
        span 450 000 руб.<br>
