section.sale.wow.fadeInDownBig(data-wow-delay="2s")
  div.sale__close
    i.fa.fa-times(aria-hidden="true")
  h2 спешите!!!<br> <span>новогодние скидки!!!</span>
  p  Только до 10.01.2017г. 
  ul
    li.sale__price.price Проверка нового авто в салоне - <br>
      span.price__value-old  от 1 500 руб.
      span.price__value-sale  1 200 руб.
    li.sale__price.price Выездная комплексная диагностика одного авто -<br>
      span.price__value-old  3 000 руб.
      span.price__value-sale  2 500 руб.
    li.sale__price.price Подбор авто по Вашему бюджету и требованиям -<br>
      span.price__value-old  от 15 000 руб.
      span.price__value-sale  12 000 руб. 
