section.service#service
  .wrapper
    h2 Цены и виды услуг
    article.service__item.wow.zoomIn
      h3 Выездная комплексная диагностика одного авто
      ul.service__item-list
        li Проверка на криминал
        li Тех.состояние
        li Компьютерная диагностика
        li Наличие и качество кузовного ремонта
      div.service__price.price
        span Цена:
        span.price__value-old  3000 руб.
        span.price__value-sale  2500 руб.
    article.service__item.wow.zoomIn(data-wow-delay="0.2s")
      h3 Подбор автомобиля по вашему бюджету и требованиям
      p Работаю до результата!
      div.service__price.price
        span Цена:
        span.price__value-old  от 15000 руб.
        span.price__value-sale  12000 руб.
    article.service__item.wow.zoomIn(data-wow-delay="0.4s")
      h3 Проверка нового автомобиля в салоне
      p Даже в салоне встречаются отработанные авто!
      div.service__price.price 
        span Цена:
        span.price__value-old  от 1500 руб.
        span.price__value-sale  1200 руб.
  
