section.service#service
  .wrapper
    h2 Цены и виды услуг
    article.service__item
      h3 Выездная комплексная диагностика одного авто
      ul.service__item-list
        li Проверка на криминал
        li Тех.состояние
        li Компьютерная диагностика
        li Наличие и качество кузовного ремонта
      div.service__price
        span Цена:
        span  3000 руб.
    article.service__item
      h3 Подбор автомобиля по вашему бюджету и требованиям
      p Работаю до результата!
      div.service__price
        span Цена:
        span  от 12000 руб.
    article.service__item
      h3 Проверка нового автомобиля в салоне
      p Даже в салоне встречаются отработанные авто!
      div.service__price 
        span Цена:
        span  от 1500 руб.
  
