section.testimonials#testimonials
  .wrapper
    h2.testimonials__title отзывы
    .testimonials__list
      .testimonials__item
        .testimonials__item-img
          img(src="img/testimon1.jpg", alt="")
        cite Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iusto veritatis hic magni voluptate assumenda, accusantium id magnam voluptates, in dicta, cum corrupti, dolorem mollitia fugit! Repudiandae enim tempore aperiam!
      .testimonials__item
        .testimonials__item-img
          img(src="img/testimon1.jpg", alt="")
        cite Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iusto veritatis hic magni voluptate assumenda, accusantium id magnam voluptates, in dicta, cum corrupti, dolorem mollitia fugit! Repudiandae enim tempore aperiam!
      .testimonials__item
        .testimonials__item-img
          img(src="img/testimon1.jpg", alt="")
        cite Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iusto veritatis hic magni voluptate assumenda, accusantium id magnam voluptates, in dicta, cum corrupti, dolorem mollitia fugit! Repudiandae enim tempore aperiam!
      .testimonials__item
        .testimonials__item-img
          img(src="img/testimon1.jpg", alt="")
        cite Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iusto veritatis hic magni voluptate assumenda, accusantium id magnam voluptates, in dicta, cum corrupti, dolorem mollitia fugit! Repudiandae enim tempore aperiam!
      .testimonials__item
        .testimonials__item-img
          img(src="img/testimon1.jpg", alt="")
        cite Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iusto veritatis hic magni voluptate assumenda, accusantium id magnam voluptates, in dicta, cum corrupti, dolorem mollitia fugit! Repudiandae enim tempore aperiam!
