section.testimonials#testimonials
  .wrapper
    h2.testimonials__title отзывы
    .testimonials__list
      .testimonials__item
        .testimonials__item-img
          img(src="img/testim2.jpg", alt="") 
        cite Продавал свою машину, нашелся покупатель. Перед самой сделкой возникли сомнения в честности покупателя. Решил подстраховаться и обратился к Денису. Он меня подробно проконсультировал, что важно, что неважно, присутствовал при оформлении сделки, даже отвез потом до дома. Уверен, к нему я еще обращусь, рекомендую!
      .testimonials__item
        .testimonials__item-img
          img(src="img/testim3.jpg", alt="")
        cite Слабо разбираюсь в иномарках, поэтому попросил Дениса подобрать хорошую машинку. Не "убитую" и ухоженную авто найти очень сложно, но Денис смог, за что ему спасибо. Плюс он продолжает помогать разными советами по машине. Всем удачи, обращайтесь не пожалеете)
      .testimonials__item
        .testimonials__item-img
          img(src="img/testim4.jpg", alt="")
        cite Решила приобрести новый автомобиль, но выбирать самой не вариант, поэтому я обратилась к Денису (его мне посоветовал знакомый). Подобрали отличный Форд Фиесту: работает каждая кнопочка, салон как у нового авто, ничего нигде не гремит и не стучит, я очень довольна! Спасибо!
      //- .testimonials__item
      //-   .testimonials__item-img
      //-     img(src="img/testimon1.jpg", alt="")
      //-   cite Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iusto veritatis hic magni voluptate assumenda, accusantium id magnam voluptates, in dicta, cum corrupti, dolorem mollitia fugit! Repudiandae enim tempore aperiam!
      //- .testimonials__item
      //-   .testimonials__item-img
      //-     img(src="img/testimon1.jpg", alt="")
      //-   cite Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iusto veritatis hic magni voluptate assumenda, accusantium id magnam voluptates, in dicta, cum corrupti, dolorem mollitia fugit! Repudiandae enim tempore aperiam!
